* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    padding: 10px 0;
    color: white;
    margin-bottom: 1.5em;
}

header ul {
    list-style: none;
}

header li a {
    color: white;
    transition: 1s;
}

main {
    min-height: 400px;
    flex: 2;
}

aside {
    min-height: 400px;
    flex: 1;
}

.cardBody h1 {
    color: black;
    font-family:Arial, Helvetica, sans-serif
}

.cardBody h2 {
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
}

.flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

.gap {
    gap: .5em;
}

.flex-start {
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.container {
    width: 800px;
    margin: 0 auto;
}


.card {
    min-height: 300px;
}

.cardHeader {
    background-color: rgb(0, 200, 200);
    min-height: 150px;
    border-radius: 1%;
    position: relative;
}

.cardBody {
    /*position: absolute; */
    min-height: 250px;
    border-left:5px solid grey;
    border-bottom:5px solid grey;
    border-right:5px solid grey;
    border-radius: 1%;
    padding: 20px;
    font-size: 18px;
    text-align: end;
}

.profileImage {
    position: absolute;
    width: 250px;
    padding: 40px;
    border-radius: 50%;
}

.mapMarker {
    display: inline-block;
    width: 15px;
}

.cogWheel {
    width: 20px;
}

.editProfile {
    gap: 1.5em;
    align-items:flex-end;
}

.education {
    min-height: 300px;
}

.test:hover {
    color: white;
    transition: 1s;
    font-size: 30px;
}

.test:focus {
    color: green;
    transition: 1s;
}

button {
    background-color: rgb(34, 200, 230);
    color: white;
    min-height: 45px;
    width: 120px;
    font-size: 20px;
    box-shadow: 5px 5px 2px 2px black;
    border-color: black;
    cursor:pointer;
}

a {
    transition: 1s;
}

.ribbon {
    background-color: black;
    min-height: 50px;
    padding: 10px;
    color: white;
    font-size: 25px;
    border-radius: 1%;
}

.menuBody {
    /* min-height: 250px; */
    border-left: 5px solid grey;
    border-bottom: 5px solid grey;
    border-right: 5px solid grey;
    border-radius: 1%;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif
}

.menuBody h2 {
    padding: 5px;
}

.menuBody p {
    padding: 5px;
}

.friendsFlexed {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1em;
}

.menuBody.friendsFlexed img {
    width:20px;
    display: flex;
    justify-content: space-between;
}

h3 {
    display: inline-block;
}

.flexed.gap img {
    border-radius: 50%;
}

.checkButton {
    cursor:pointer;
    background-color: greenyellow;
}

.xButton {
    cursor:pointer;
    background-color: red;
}